<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
    <body>
        <h2>Me contactere</h2>
        <div class="form">
            <form action="https://formbuilder.com" method="post">
                <input type="text" name="name" placeholder="Votre nom">
                <input type="text" name="mail" placeholder="Votre email"> <br>
                <textarea name="message" rows="10" cols="40" placeholder="Votre message"></textarea> <br>
                <input type="submit" value="Envoyer">
            </form>
        </div>
    </body>
</html>