<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица Менделеева</title>
</head>
    <body>

        <table border="1px" cellpadding="1">
            <tr>
                <td></td>
                <td></td>
                <td align="center">I</td>
                <td rowspan="3" colspan="5" align="center">Периодическая система элементов <br>Д.И. Менделеева</td>
                <td align="center">VII</td>
                <td align="center">VIII</td>
                <td colspan="2" rowspan="6" align="center"><sup><sub>12,01</sub><sup> 6</sup></sup> C<br>углерод</td>
            </tr>
            <tr>
                <td rowspan="3" align="center">1</td>
                <td rowspan="3" align="center">1</td>
                <td rowspan="3" bgcolor="#e50067">H <sup><sup>1</sup><sub> 1,01</sub></sup><br>водород</td>
            </tr>
            <tr>
                <td rowspan="2" align="right">(H)</td>
                <td rowspan="2" bgcolor="#e50067"><sup><sub>4,06</sub><sup> 2</sup></sup> He<br>гелий</td>
            </tr>
            <tr align="center">
                <td>II</td>
                <td>III</td>
                <td>IV</td>
                <td>V</td>
                <td>VI</td>
            </tr>
            <tr>
                <td align="center">2</td>
                <td align="center">2</td>
                <td bgcolor="#e50067">Li <sup><sup>3</sup><sub> 6,94</sub></sup><br>литий</td>
                <td bgcolor="#e50067">Be <sup><sup>4</sup><sub> 9,01</sub></sup><br>берриллий</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>10,81</sub><sup> 5</sup></sup> B<br>бор</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>12,01</sub><sup> 6</sup></sup> C<br>углерод</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>14,01</sub><sup> 7</sup></sup> N<br>азот</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>16,00</sub><sup> 8</sup></sup> O<br>кислород</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>19,00</sub><sup> 9</sup></sup> F<br>фтор</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>20,18</sub><sup> 10</sup></sup> Ne<br>неон</td>
            </tr>
            <tr>
                <td align="center">3</td>
                <td align="center">3</td>
                <td bgcolor="#e50067">Na <sup><sup>11</sup><sub> 22,99</sub></sup><br>натрий</td>
                <td bgcolor="#e50067">Mg <sup><sup>12</sup><sub> 24,31</sub></sup><br>магний</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>26,98</sub><sup> 13</sup></sup> Al<br>алюминий</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>28,09</sub><sup> 14</sup></sup> Si<br>кремний</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>30,97</sub><sup> 15</sup></sup> P<br>фосфор</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>32,06</sub><sup> 16</sup></sup> S<br>сера</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>35,45</sub><sup> 17</sup></sup> Cl<br>хлор</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>39,95</sub><sup> 18</sup></sup> Ar<br>аргон</td>
            </tr>
            <tr>
                <td rowspan="2" align="center">4</td>
                <td align="center">4</td>
                <td bgcolor="#e50067">K <sup><sup>19</sup><sub> 39,10</sub></sup><br>калий</td>
                <td bgcolor="#e50067">Ca <sup><sup>20</sup><sub> 40,09</sub></sup><br>кальций</td>
                <td bgcolor="#009cdb">Sc <sup><sup>21</sup><sub> 44,96</sub></sup><br>скандий</td>
                <td bgcolor="#009cdb">Ti <sup><sup>22</sup><sub> 47,90</sub></sup><br>титан</td>
                <td bgcolor="#009cdb">V <sup><sup>23</sup><sub> 50,94</sub></sup><br>ванадий</td>
                <td bgcolor="#009cdb">Cr <sup><sup>24</sup><sub> 52,00</sub></sup><br>хром</td>
                <td bgcolor="#009cdb">Mn <sup><sup>25</sup><sub> 54,94</sub></sup><br>марганец</td>
                <td bgcolor="#009cdb">Fe <sup><sup>26</sup><sub> 55,85</sub></sup><br>железо</td>
                <td bgcolor="#009cdb">Co <sup><sup>27</sup><sub> 58,93</sub></sup><br>кобальт</td>
                <td bgcolor="#009cdb">Ni <sup><sup>28</sup><sub> 58,70</sub></sup><br>никель</td>
            </tr>
            <tr>
                <td align="center">5</td>
                <td align="right" bgcolor="#009cdb"><sup><sub>63,55</sub><sup> 29</sup></sup> Cu<br>медь</td>
                <td align="right" bgcolor="#009cdb"><sup><sub>65,38</sub><sup> 30</sup></sup> Zn<br>цинк</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>69,72</sub><sup> 31</sup></sup> Ga<br>галий</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>72,59</sub><sup> 32</sup></sup> Ge<br>германий</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>74,92</sub><sup> 33</sup></sup> As<br>мышьяк</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>78,96</sub><sup> 34</sup></sup> Se<br>селен</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>79,90</sub><sup> 35</sup></sup> Br<br>бром</td>
                <td align="right" bgcolor="#fdf107"><sup><sub>83,80</sub><sup> 36</sup></sup> Kr<br>криптон</td>
            </tr>
        </table>

    </body>
</html>